<h1>Card</h1>

<div id="card">
{{#if foods.length}}
    <table>
        <thead>
            <tr>
                <th>Name:</th>
                <th>Quantity:</th>
                <th>Action:</th>
            </tr>
        </thead>
        <tbody>
            {{#each foods}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn btn-small js-remove" data-id="{{id}}">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p>
        <strong>Price</strong> 
        <span class="price">{{price}}</span>
    </p>
{{else}}
    <p>Nothing here yet.</p>
{{/if}}
</div>