<section class="foods">
    <div class="container">
        <h1>Menu</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {{#if foods.length}}
                {{#each foods}}
                    <div class="col">
                        <div class="card card-div" style="border: none;">
                            <img src="{{img}}" alt="{{title}}">
                            <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                <p class="price">{{price}}</p>


                                <div class="card-action">
                                        <a href="/foods/{{id}}">Open</a>

                                        {{#if @root.isAuth}}
                                            <a href="/foods/{{id}}/edit?allow=true">Edit</a>

                                            <form action="/card/add" method="post">
                                                <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                                                <input type="hidden" name="id" value="{{id}}">

                                                <button type="submit" class="btn btn-primary">buy</button>
                                            </form>

                                        {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <p>Nothing here</p>
            {{/if}}
        </div>
    </div>
</section>
